/* Start Global */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: #f8f9fa;
}

/* End Global */

/* Start Navbar */

.content .navbar {
  background-color: #23272b;
  padding: 13px 25px;
  border-bottom: 1px solid #444444;
  height: 50px;
}

.content .navbar .collapse-sidebar {
  cursor: pointer;
  font-size: 21px;
  transition: 0.25s;
}

.content .navbar .collapse-sidebar:hover {
  color: #3698ff;
}

.content .navbar a {
  color: #ffffff;
  transition: 0.25s;
  margin: 0 10px;
}

.content .navbar a:hover:not(.dropdown-item) {
  color: #3698ff;
  text-decoration: none;
}

.content .navbar a i {
  padding: 0 5px;
}

.content .navbar a.dropdown-toggle img {
  width: 25px;
}

.content .navbar a.dropdown-toggle span {
  margin: 0 5px;
}

.content .navbar .dropdown-toggle::after {
  margin: 0;
}

.content .navbar .dropdown-menu {
  right: 0;
  left: initial;
  top: 34px;
  border: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  font-size: 14px;
  background-color: #282e34;
}

.content .navbar .dropdown-menu .dropdown-item {
  padding: .25rem 1rem;
  transition: 0.2s;
  margin: 0;
}

.content .navbar .dropdown-menu .dropdown-item:hover {
  background-color: #373e44;
}

.content .navbar .dropdown-menu .dropdown-item:hover i {
  background-color: #373e44;
  color: #3698ff;
}

.content .navbar .dropdown-menu .dropdown-item i {
  font-size: 13px;
  transition: 0.2s;
}

.content .navbar .dropdown-menu .dropdown-divider {
  border-color: #444444;
}

/* End Navbar */

/* Start Sidebar */

.content .row.content-row {
  flex-wrap: nowrap;
}

.hide-sidebar {
  width: 0 !important;
  min-width: 0 !important;
  height: 0 !important;
  min-height: 0 !important;
  padding: 0 !important;
}

.content .sidebar {
  width: 300px;
  min-height: calc(100vh - 50px);
  padding: 30px;
  overflow: hidden;
  background-color: #1b1e21;
  transition: width 0.3s;
}

.content .sidebar .user {
  width: 120px;
  margin: 0 auto 35px;
}

.content .sidebar .user_info {
  border-bottom: 1px solid #444444;
  padding-bottom: 15px;
}

.content .sidebar h4 ~ span {
  margin-top: 10px;
  font-size: 14px;
}

.content .sidebar ul {
  list-style-type: none;
}

.content .sidebar ul,
.content .sidebar li {
  padding: 0;
  margin: 0;
}

.content .sidebar li {
  min-width: 240px;
}

.content .sidebar li a {
  color: #ffffff;
  font-size: 18px;
  display: block;
  padding: 10px 5px;
  border-radius: 5px;
  transition: 0.2s;
}

.content .sidebar li a:hover {
  text-decoration: none;
  background-color: #2d3034;
}

.content .sidebar li a i {
  margin: 0 15px;
  color: #3698ff;
}

/* End Sidebar */

/* Start Main Content */

.content .main-content {
  padding: 30px;
  flex-grow: 1;
  overflow-x: hidden;
}

.content .main-content .stats {
  margin-bottom: 50px;
}

.content .main-content h3 {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 45px;
  padding: 0 10px 15px;
  font-weight: 600;
}

.content .main-content table td.control {
  width: 100px;
}

.content .main-content table a {
  color: #212529;
}

.content .main-content table a:hover {
  text-decoration: none;
}

.content .main-content table a i {
  transition: 0.25s;
}

.content .main-content table a:hover i.fa-trash {
  color: #dc3545;
}

.content .main-content table a:hover i.fa-edit {
  color: #ff7400;
}

.content .main-content form input[type='file'] {
  min-height: 45px;
}

.content .main-content form textarea {
  resize: none;
}

/* End Main Content */

/* Start Pagination */

.pagination .page-item.disabled {
  cursor: not-allowed;
}

/* End Pagination */

/* Start Datatable Modifications */

div.dataTables_wrapper div.dataTables_length select {
  margin: 0 5px;
}

html[lang='ar'] div.dataTables_wrapper div.dataTables_filter {
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter label {
  margin-top: 5px;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin: 0 10px;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin-top: 10px;
}

div.dataTables_wrapper div.dataTables_paginate,
div.dataTables_wrapper div.dataTables_info {
  margin-top: 0.5rem;
}

/* End Datatable Modifications */
